NET  "red" LOC = N15 | IOSTANDARD = LVCMOS33;
NET  "green" LOC = M16 | IOSTANDARD = LVCMOS33;
NET  "blue" LOC = R12 | IOSTANDARD = LVCMOS33;
NET  "clk" LOC = E3 | IOSTANDARD = LVCMOS33;
NET  "reset" LOC = N17 | IOSTANDARD = LVCMOS33;